body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  margin:0 auto
}
.SignOut {
  position:absolute;
  top:12px;
  right:15px;
  background:white;
  border-color: #4fb77a;
  cursor: pointer;
  width:100px;
  height: 30px;
  color:#4fb77a;
  font-weight: 700;
}
.SignOut:hover{
  background: #4fb77a;
  color:white;

}
@media (min-width:603px) and (max-width:850px){
  .SignOut {
    top:95px;
  }
}
@media (max-width:602px){
  .SignOut {
    top:115px;
  }

}